<div appFreshCourseDirective [course]="course" class="vc-course-wrapper" [ngClass]="{'rate-course': course.topRated}">
  <div>
    <div class="course-header">
      <span class="course-title">
        {{ course.name | uppercase }}
        <span *ngIf="course.topRated" class="rate-icon">&#9733;</span>
      </span>
      <div class="course-info">
        <fa-icon [icon]="clockIcon"></fa-icon>
        <span class="duration-text">{{ course.length | duration }}</span>
        <fa-icon [icon]="calendarIcon"></fa-icon>
        <span class="date-text">{{ course.date | date }}</span>
      </div>
    </div>
    <p class="course-description">{{ course.description }}</p>
  </div>
  <div class="operation">
    <button (click)="onEditCourse()">
      <fa-icon [icon]="editIcon"></fa-icon>
      Edit
    </button>
    <button class="delete-btn" (click)="onDeleteCourse()">
      <fa-icon [icon]="removeIcon"></fa-icon>
      Delete
    </button>
  </div>
</div>
