.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  .control-field {
    display: flex;

    .link {
      margin-top: 18px;
      flex-grow: 1;
    }
  }

  .mat-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    padding: 10px;
  }

  .mat-form-field {
    .field-info {
      display: flex;
      .field-title {
        flex-grow: 1;
      }
    }
    
    input {
      width: 100%;
      height: 34px;
      padding: 5px;
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;
    background-color: #33BEFF;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
  }

}

