.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  .row {
    display: flex;

    .center {
      justify-content: center;
    }

    .end {
      justify-content: flex-end;
    }
  }

  .mat-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    padding: 10px;
  }

  .mat-form-field {
    input {
      width: 100%;
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(56, 58, 56);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
  }

}

