<div class="vc-course-wrapper">
  <div>
    <div class="course-header">
      <span class="course-title">{{ course.title }}</span>
      <div class="course-info">
        <fa-icon [icon]="clockIcon"></fa-icon>
        <span class="duration-text">{{ course.duration }}</span>
        <fa-icon [icon]="calendarIcon"></fa-icon>
        <span class="date-text">{{ course.date }}</span>
      </div>
    </div>
    <p class="course-description">{{ course.description }}</p>
  </div>
  <div class="operation">
    <button>
      <fa-icon [icon]="editIcon"></fa-icon>
      Edit
    </button>
    <button (click)="onDeleteCourse()">
      <fa-icon [icon]="removeIcon"></fa-icon>
      Delete
    </button>
  </div>
</div>