.not-found-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}

.not-found-text {
  padding: 5px;
  color: #414452;
  font-weight: bold;
  font-size: 2em;
}

.fa-search {
  color: #414452;
  margin-right: 10px;
}
