.vc-footer-wrapper {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  width: auto;
  height: 64px;
  background-color: #414452;
}

.copyright {
  width: 266px;
  height: 24px;
  margin-right: 5%;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: right;
  color: #c0c3ce;
}