<vc-course-breadcrumb></vc-course-breadcrumb>

<div class="vc-course-page-wrapper">
  <input #searchInput placeholder="Text to search" (keyup)="onKey($event)" class="input" />

  <div class="add-course">
    <button (click)="addCourse()">
      <fa-icon [icon]="addIcon" class="icon"></fa-icon>Add course
    </button>
  </div>

  <div *ngIf="courses && courses.length > 0; else none_content">
    <!--<div *ngFor="let course of store.source | async | orderby; trackBy: identify">-->
    <div *ngFor="let course of courses | orderby; trackBy: identify">
      <course [course]=course (edit)="editCourse($event)" (delete)="deleteCourse($event)">
      </course>
    </div>

    <div class="load-more">
      <p><button (click)="onLoadMore()"><a>Load more</a></button></p>
    </div>
  </div>

  <ng-template #none_content>
    <div class="load-more">
      <p>No data. Feel free to add course</p>
    </div>
  </ng-template>
</div>
