<header class="vc-header-wrapper">
  <div class="logo-container">
    <vc-logo></vc-logo>
  </div>
  <div class="auth">
    <button *ngIf="!authService.IsAuthenticated() && !isLoginPage" class="log-btn" routerLink="/login"
      routerLinkActive="active">
      <img src="../../assets/ic-user.svg" />
      <span>User login</span>
    </button>
    <!--<p *ngIf="authService.IsAuthenticated()" class="username-label">Welcome {{ authInfo$.username | async }}!</p>-->
    <p *ngIf="authService.IsAuthenticated()" class="username-label">Welcome {{ username }}!</p>
    <button *ngIf="authService.IsAuthenticated()" (click)="LogoutClickHandler()" class="log-btn" routerLink="/login"
      routerLinkActive="active">
      <img src="../../assets/ic-exit.svg" />
      <span>Log off</span>
    </button>
  </div>
</header>