.root {
  display: flex;
  justify-content: flex-end;
  height: 64px;
  background-color: #414452;
}

.logo-container {
  padding-left: 5%;
  position: relative;
  top: 13px;
}

.log-off {
  width: 40px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  background-color: #414452;
}

.auth {
  /*position: relative;*/
  /*top: 18px;*/
  margin-left: 20px;

  float: right;
}

.auth > a {
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
}