.root {
  display: flex;
  height: 64px;
  background-color: #414452;
}

.logo-container {
  padding-left: 5%;
  position: relative;
  top: 13px;
}

.auth {
  position: relative;
  top: 18px;
  margin-left: 20px;
  flex-grow: 2;
  justify-content: flex-end;
}

.auth > a {
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
}